<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{borough}}</title>
    <style>
        body{
            background-color: black;
        }
        h1{
            Color: goldenrod;
            font-size: 80px;
            text-align: center;
        }
        a{
            color: goldenrod;
        }
    </style>
</head>
<body>
    <h1>{{ borough | title }}</h1>

    <ul>
        {% for activity in activities %}
        <li>
            <a href="{% url 'activity' borough activity %} "
                >{{ activity|title }}</a
            >
        </li>
        {% endfor %}
    </ul>
    <center><a href="{% url 'city' %}">Home-Page</a></center>
</body>
</html>

